<!DOCTYPE html>
<html>

<head>
  <title>User List</title>
  <style>
    body {
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
      font-size: 28px;
      margin-top: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      background-color: #fff;
      margin: 20px auto;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    .edit-link {
      color: #007bff;
      text-decoration: none;
      transition: color 0.3s;
    }

    .edit-link:hover {
      color: #0056b3;
    }

    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
      justify-content: center;
      align-items: center;
    }

    .user-form {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>

<body>
  <h1>List of Users</h1>
  <p>User counter: <%= userList.length %>
  </p>
  <p><a href="javascript:void(0);" onclick="toggleUserForm()">Create User</a></p>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% userList.forEach((user)=> { %>
        <tr>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.firstname %>
          </td>
          <td>
            <%= user.lastname %>
          </td>
          <td><a href="/edituser/<%= user.id %>" class="edit-link">Edit</a></td>
          <td><a href="/deleteuser/<%= user.id %>" class="edit-link">Delete</a></td>
        </tr>
        <% }) %>
    </tbody>

  </table>

  <!-- Pop-up overlay for creating a user -->
  <div class="overlay" id="userFormOverlay" onclick="closeUserForm(event)">
    <div class="user-form" id="userFormContainer">
      <%- include('userForm.ejs') %>
    </div>
  </div>

  <script>
    // Function to show/hide the user form
    var currentEditUserId;

    function toggleUserForm() {
      var userFormOverlay = document.getElementById('userFormOverlay');
      if (userFormOverlay.style.display === 'block') {
        userFormOverlay.style.display = 'none';
      } else {
        userFormOverlay.style.display = 'block';
      }
    }

    // Function to close the user form
    function closeUserForm() {
      var userFormOverlay = document.getElementById('userFormOverlay');
      var closeButton = document.getElementById('closeButton');

      // Check if the click event target is the overlay itself or the close button
      if (event.target === userFormOverlay || event.target === closeButton) {
        userFormOverlay.style.display = 'none';
      }
    }

  </script>
</body>

</html>